parameters:
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    shipmonkRules:
        uselessPrivatePropertyDefaultValue:
            enabled: true