parameters:
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: missingType.iterableValue
  strictRules:
    # Disallowed constructs
    disallowedLooseComparison: false
    disallowedBacktick: false
    disallowedEmpty: true
    disallowedImplicitArrayCreation: false
    disallowedShortTernary: false
    
    # Boolean conditions
    booleansInConditions: false
    booleansInLoopConditions: false
    
    # Cast rules
    uselessCast: false
    
    # Constructor rules
    requireParentConstructorCall: false
    illegalConstructorMethodCall: false
    
    # Loop rules
    overwriteVariablesWithLoop: false
    
    # Function rules
    closureUsesThis: false
    strictFunctionCalls: true
    strictArrayFilter: true
    
    # Method rules
    matchingInheritedMethodNames: false
    
    # Arithmetic operators
    numericOperandsInArithmeticOperators: false
    
    # Dynamic calls
    dynamicCallOnStaticMethod: false
    
    # Switch conditions
    switchConditionsMatchingType: false
    
    # Variable variables
    noVariableVariables: false
  level: max